.dashboard {
    display: flex;
    flex-direction: column;
}

.dashboard > h2 {
    margin-top: 50px;
    margin-left: 20px;
}

.joinEvent {
    width: 20em;
    align-self: center;
}

.midAlign {
    align-self: center;
}

.noEventText {
    padding-top: 2em;
    align-self: center;
    padding-bottom: 5em;
}

a {
   text-decoration: none; 
   color: white;
}

.modal {
    display: flex;
    justify-content: center;
    border: 2px solid #000;
    box-shadow: inset;
    backdrop-filter: blur(8px);
    padding-top: 15em;
    color:aliceblue;
}