.eventInfoBox {
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 2px 5px 10px lightblue;
    background-color: rgb(156, 215, 252);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.MuiAvatar-root {
    width: 50px;
    height: 50px;
}

.dueDate {
    float: left;
}

.dispatch {
    float: right;
    background: lightslategray !important;
}

.dispatch:hover {
    background: #a2acb6 !important;
}

.surveyName {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.link:visited {
    color: black;
    text-decoration: none;
}

.link:link {
    text-decoration: none;
}

.link:active {
    text-decoration: none;
}
